/_build/
/cover/
/deps/
/doc/
/.elixir_ls/
/.fetch
/.hex/
/.mix/

erl_crash.dump
*.beam
*.ez
*.tar

/config/*.secret.exs
/tmp/
/apps/*/priv/static/assets/
/apps/*/priv/static/cache_manifest.json

.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp
*.swo
